* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
	margin: 0;
	text-align: center;
	background-color: Silver;
}

header{
	top: 0;
	width: 100%;
	position: fixed;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

nav ul, footer ul{
	background-color: SkyBlue;
}

nav li, footer li{
	display: inline-block;
	margin: 1em;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
}

#home{
	margin-top: 70px;
}

#skills li{
	width: 100px;
	height: 100px;
	background-color: GhostWhite;
	display: inline-block;
	margin: 10px;
}

#skills figure{
	margin: 15px auto;
	width: 70%;
	height: 70%;
}

#skills figcaption{
	padding: 5px 0px;
}

/* #education{
	background-color: Linen;
}

#skills{
	background-color: LightGreen;
} */

.logo{
	width: 40px;
	height: 40px;
}