* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
	margin: 0;
	text-align: center;
	background-color: Silver;
	font-family: "Courier New", monospace;
}

header{
	top: 0;
	width: 100%;
	position: fixed;
	background-color: SkyBlue;
}

footer{
	background-color: SkyBlue;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

nav li, footer li{
	display: inline-block;
	margin: 1em;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
}

.flexbox-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.flexbox-container img{
	margin-left: 0;
}

.iconlist{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#home{
	margin-top: 100px;
	margin-bottom: 100px;
}

#education{
	padding: 100px 0;
	background-color: pink;
}

#skills{
	padding: 100px 0;
	background-color: lightgreen;
}

#projects{
	padding: 100px 0;
	background-color: lightsalmon;
}

#skills figure{
	width: 110px;
	height: 110px;
	background-color: GhostWhite;
	border-style: outset;
	border-width: medium;
	margin: 10px;
}

#skills img{
	margin-top: 11px;
}

#skills figcaption{
	padding: 5px 0px;
}

#skills .icon{
	width: 50px;
	height: 50px;
}

footer .icon{
	width: 30px;
	height: 30px;
}

#skills figure:hover{
	background-color: grey;
}